editor-tabs .tabs .navbar-toggle {
	position: absolute;
	top: 0vh;
	right: 5vw;
	background-color: var(--sidebar-color);
	padding: 10px;
	border: var(--sidebar-border);
	border-top: none;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	cursor: pointer;
	transition: left var(--sidebar-transition);
	z-index: 1;
}
