.page-home {
}

page-home drawer-box {
	display: block;
	width: 100%;
	height: 100vh;
	overflow-y: scroll;
	transition: width var(--sidebar-transition);
}

page-home drawer-box.expand {
	width: 100%;
}
