.page-home {
}

page-home drawer-box {
	display: flex;
	width: 100%;
	height: 100vh;
	overflow-y: scroll;
	transition: width var(--sidebar-transition);
	flex-flow: column nowrap;
}

page-home drawer-box.expand {
	width: 100%;
}
