drawer-box .grid-stack { 
	background: #EDEFF2;
	min-height: 100vh;
}

drawer-box .drawer-dynamic-height {
	height: calc(100% - var(--tab-height) - (var(--size-field) * 10) - (var(--spacing) * 5) );
}

drawer-box .drawer-full-height {
	height: 100%;;
}

drawer-box .grid-stack-item-content { 
	border: 1px dashed black;
	border-radius: 5px; 
}

drawer-box .grid-stack-nested {
	width: 100%;
	background: transparent;
	height: 100%;
}

drawer-box #right-click-menu {
  min-width: 150px;
}

drawer-box .drag-handler {
	position: absolute;
	width: 50px;
	height: 30px;
	top: 10px;
	right: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #D4D4D4;
	border-radius: 5px;
	z-index: 1;
}
